[Unit]
Description=Tomcat Service
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=appuser
ExecStart=/usr/bin/sh /home/appuser/apache-tomcat-8.5.49/bin/startup.sh


[Install]
WantedBy=multi-user.target