[Unit]
Description=Tomcat Service
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=appuser
ExecStart=/usr/bin/sh php /path/to/server.php

[Install]
WantedBy=multi-user.target